Repository watchdogpolska/small_eod, pull requests merged in 2020-08, with the labels that each got.

#177 Add coverage information
  .github/workflows/python.yaml
  Makefile
  backend-project/Dockerfile
  backend-project/README.md
  backend-project/requirements/development.txt
  backend-project/small_eod/institutions/tests/test_views.py
Labels: back-end, ci, enhancement

#400 Continous deployment to HyperOne Website
  .github/actions/h1-cli/.gitignore
  .github/actions/h1-cli/action.yml
  .github/actions/h1-cli/dist/index.js
  .github/actions/h1-cli/package-lock.json
  .github/actions/h1-cli/package.json
  .github/actions/h1-cli/src/start.js
  .github/h1-known-hosts
  .github/workflows/balancer.yaml
  .github/workflows/javascript.yaml
  .github/workflows/python.yaml
  Makefile
  README.md
  backend-project/config/settings/base.py
  backend-project/requirements/base.txt
  backend-project/requirements/production.txt
  balancer/Dockerfile
  balancer/nginx.conf
Labels: back-end, ci

#487 Add tests for query count - close #163, follow up #356
  backend-project/requirements/development.txt
  backend-project/small_eod/cases/models.py
  backend-project/small_eod/cases/tests/test_views.py
  backend-project/small_eod/cases/views.py
  backend-project/small_eod/channels/tests/test_views.py
  backend-project/small_eod/collections/tests/test_views.py
  backend-project/small_eod/collections/views.py
  backend-project/small_eod/events/tests/test_views.py
  backend-project/small_eod/features/tests/test_views.py
  backend-project/small_eod/features/views.py
  backend-project/small_eod/files/tests/test_views.py
  backend-project/small_eod/generic/tests/test_views.py
  backend-project/small_eod/institutions/tests/test_views.py
  backend-project/small_eod/letters/tests/test_views.py
  backend-project/small_eod/letters/views.py
  backend-project/small_eod/users/tests/test_viewsets.py
Labels: back-end

#478 Lista kanałów
  frontend-project/config/config.ts
  frontend-project/src/components/Table/ChannelName.tsx
  frontend-project/src/components/Table/index.tsx
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/models/channels.ts
  frontend-project/src/pages/letters/channels/index.tsx
  frontend-project/src/pages/letters/channels/locales/en-US.ts
  frontend-project/src/pages/letters/channels/locales/pl-PL.ts
  frontend-project/src/services/channels.ts
Labels: front-end

#479 Lista tagów
  backend-project/small_eod/tags/serializers.py
  frontend-project/config/config.ts
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/models/tags.ts
  frontend-project/src/pages/tags/list/index.tsx
  frontend-project/src/pages/tags/list/locales/en-US.ts
  frontend-project/src/pages/tags/list/locales/pl-PL.ts
  frontend-project/src/services/institutions.ts
  frontend-project/src/services/tags.ts
Labels: back-end, front-end

#446 Add endpoints for TERYT (close #120), add diff for OpenAPI in GitHub Actions
  .github/workflows/python.yaml
  Makefile
  backend-project/config/urls.py
  backend-project/small_eod/administrative_units/apps.py
  backend-project/small_eod/administrative_units/factories.py
  backend-project/small_eod/administrative_units/migrations/0001_initial.py
  backend-project/small_eod/administrative_units/models.py
  backend-project/small_eod/administrative_units/serializers.py
  backend-project/small_eod/administrative_units/tests/test_views.py
  backend-project/small_eod/administrative_units/urls.py
  backend-project/small_eod/administrative_units/views.py
  backend-project/small_eod/generic/management/commands/init_data.py
  backend-project/small_eod/generic/tests/test_management.py
  backend-project/small_eod/institutions/factories.py
  backend-project/small_eod/institutions/migrations/0010_auto_20200630_1908.py
  backend-project/small_eod/institutions/models.py
  backend-project/small_eod/institutions/serializers.py
  backend-project/small_eod/institutions/tests/test_serializers.py
  backend-project/small_eod/institutions/tests/test_validators.py
Labels: back-end, ci

#512 Fix hierarchy of AdministrativeUnitViewSetTestCase
  backend-project/small_eod/administrative_units/tests/test_views.py
  backend-project/small_eod/generic/tests/test_views.py
Labels: back-end

#506 Add commit to footer of frontend
  .github/workflows/javascript.yaml
  docker-compose.yml
  frontend-project/.eslintrc.js
  frontend-project/config/config.ts
  frontend-project/config/defaultSettings.ts
  frontend-project/src/layouts/BasicLayout.tsx
Labels: ci, front-end

#503 Fix warning regarding timezone
  backend-project/small_eod/collections/serializers.py
  backend-project/small_eod/collections/signer.py
  backend-project/small_eod/files/apps.py
  backend-project/small_eod/files/serializers.py
  backend-project/small_eod/generic/factories.py
  backend-project/small_eod/letters/migrations/0013_auto_20200722_2203.py
  backend-project/small_eod/letters/models.py
  backend-project/small_eod/letters/tests/test_serializers.py
Labels: back-end

#532 Migracja strony logowania do TypeScriptu
  frontend-project/src/components/Login/index.tsx
  frontend-project/src/models/connect.d.ts
  frontend-project/src/models/login.ts
  frontend-project/src/pages/user/login/index.tsx
Labels: front-end, typescript
