Repository watchdogpolska/small_eod, pull requests merged in 2020-06, with the labels that each got.

#377 Ununięcie redundantnej strony błedu 404
  frontend-project/config/config.ts
  frontend-project/src/pages/404.jsx
  frontend-project/src/pages/Authorized.tsx
  frontend-project/src/pages/Welcome.tsx
Labels: front-end

#380 Usunięcie stron register i register-result
  frontend-project/config/config.ts
  frontend-project/src/pages/user/register-result/index.jsx
  frontend-project/src/pages/user/register-result/locales/en-US.js
  frontend-project/src/pages/user/register-result/locales/zh-CN.js
  frontend-project/src/pages/user/register-result/locales/zh-TW.js
  frontend-project/src/pages/user/register-result/style.less
  frontend-project/src/pages/user/register/_mock.js
  frontend-project/src/pages/user/register/index.jsx
  frontend-project/src/pages/user/register/locales/en-US.js
  frontend-project/src/pages/user/register/locales/zh-CN.js
  frontend-project/src/pages/user/register/locales/zh-TW.js
  frontend-project/src/pages/user/register/model.js
  frontend-project/src/pages/user/register/service.js
  frontend-project/src/pages/user/register/style.less
Labels: front-end

#381 Migracja pages do tsx i przeniesienie części zawartości do @/components
  frontend-project/src/components/Login/LoginContext.tsx
  frontend-project/src/components/Login/LoginItem.tsx
  frontend-project/src/components/Login/LoginSubmit.tsx
  frontend-project/src/components/Login/LoginTab.tsx
  frontend-project/src/components/Login/index.less
  frontend-project/src/components/Login/index.tsx
  frontend-project/src/components/Login/map.tsx
  frontend-project/src/models/login.ts
  frontend-project/src/pages/user/login/_mock.ts
  frontend-project/src/pages/user/login/components/Login/LoginContext.jsx
  frontend-project/src/pages/user/login/index.jsx
  frontend-project/src/pages/user/login/locales/en-US.ts
  frontend-project/src/pages/user/login/locales/pl-PL.ts
  frontend-project/src/pages/user/login/locales/zh-CN.js
  frontend-project/src/pages/user/login/locales/zh-TW.js
  frontend-project/src/pages/user/login/model.js
  frontend-project/src/pages/user/login/service.js
  frontend-project/src/pages/user/login/utils/utils.js
  frontend-project/src/utils/authority.ts
Labels: front-end

#335 [282] fill audited institution in new cases form
  frontend-project/src/models/institutions.ts
  frontend-project/src/pages/cases/new/index.tsx
  frontend-project/src/services/institutions.ts
Labels: front-end

#416 Fix fetching users - close #391
  frontend-project/src/services/users.ts
Labels: front-end

#417 Poprawka zakończeń linii na podstawie gitattributes
  backend-project/small_eod/channels/tests/test_views.py
  backend-project/small_eod/events/tests/test_views.py
  backend-project/small_eod/institutions/tests/test_views.py
Labels: back-end

#403 Lista spraw
  frontend-project/config/config.ts
  frontend-project/src/components/Table/InstitutionName.tsx
  frontend-project/src/components/Table/index.tsx
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/pages/cases/list/index.tsx
  frontend-project/src/pages/cases/list/locales/en-US.ts
  frontend-project/src/pages/cases/list/locales/pl-PL.ts
  frontend-project/src/services/cases.ts
  frontend-project/src/services/institutions.ts
Labels: front-end

#423 usunięcie kolumny name z listy listów
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
Labels: front-end

#424 in/out zamienione na odebrane/wysłane w liście listów
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
Labels: front-end

#425 Dodanie kolumny Instytucja do listy listów
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
Labels: front-end

#429 Dodanie kolumn utworzono zmodyfikowano w liście listów
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
Labels: front-end

#428 Dodanie kolumny sprawy do listy listów
  frontend-project/src/components/Table/CaseName.tsx
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
  frontend-project/src/services/cases.ts
Labels: front-end

#435 Naprawienie typów w liście spraw
  frontend-project/src/pages/cases/list/index.tsx
  frontend-project/src/services/cases.ts
Labels: front-end

#431 Dodanie kolumny z liczbą załączników do listy listów
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
Labels: front-end

#426 Dodanie kolumny data odbioru / data wysłania w liście listów
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
Labels: front-end

#430 Dodanie kolumny kanał do listy listów
  frontend-project/src/components/Table/ChannelName.tsx
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
  frontend-project/src/services/channel.ts
Labels: front-end

#442 Update pyupgrade syntax to PY3.7
  Makefile
  backend-project/small_eod/generic/factories.py
  backend-project/small_eod/generic/tests/test_views.py
Labels: back-end, ci

#412 Add filter by name to InstitutionViewSet
  backend-project/requirements/development.txt
  backend-project/small_eod/institutions/tests/test_views.py
  backend-project/small_eod/institutions/views.py
Labels: back-end

#455 zmiana institutions na institution w liście listów
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
Labels: front-end

#453 Make optional instituion in letters list
  frontend-project/src/pages/letters/list/index.tsx
Labels: front-end

#432 migracja do komponentu ogólnego Table - lista listów
  frontend-project/src/pages/letters/list/index.tsx
Labels: front-end

#434 backend: Rename letters.Letter.{document_type,description},letters.{D…
  backend-project/small_eod/generic/tests/test_views.py
  backend-project/small_eod/letters/factories.py
  backend-project/small_eod/letters/migrations/0011_auto_20200618_1921.py
  backend-project/small_eod/letters/models.py
  backend-project/small_eod/letters/serializers.py
  backend-project/small_eod/letters/tests/test_factories.py
  backend-project/small_eod/letters/tests/test_serializers.py
  backend-project/small_eod/letters/tests/test_views.py
  backend-project/small_eod/letters/urls.py
  backend-project/small_eod/letters/views.py
  docs/README.md
Labels: back-end, docs

#457 dodanie kolumny Typ dokumentu
  frontend-project/package.json
  frontend-project/src/components/Table/DocumentTypeName.tsx
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
  frontend-project/src/services/documentType.ts
  frontend-project/yarn.lock
Labels: front-end

#459 Rename field for attachments
  backend-project/small_eod/files/migrations/0005_auto_20200625_0113.py
  backend-project/small_eod/files/models.py
  backend-project/small_eod/letters/serializers.py
  backend-project/small_eod/letters/tests/test_serializers.py
Labels: back-end

#460 attachments w API listów w liczbie mnogiej (Fixes #456)
  .gitattributes
  frontend-project/package.json
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
  frontend-project/src/services/letters.ts
  frontend-project/yarn.lock
Labels: front-end

#463 Add repository dispatch to trigger SDK update
  .github/workflows/python.yaml
Labels: ci

#427 Poprawienie nazwy identyfikatora w liście listów
  backend-project/small_eod/letters/factories.py
  backend-project/small_eod/letters/migrations/0012_auto_20200626_0848.py
  backend-project/small_eod/letters/models.py
  backend-project/small_eod/letters/serializers.py
  backend-project/small_eod/letters/tests/test_serializers.py
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
  frontend-project/src/services/letters.ts
Labels: back-end, front-end

#436 backend: Add management for institution, initial test data
  backend-project/small_eod/administrative_units/factories.py
  backend-project/small_eod/cases/migrations/0001_initial_squashed_0006_auto_20200126_0711.py
  backend-project/small_eod/generic/management/__init__.py
  backend-project/small_eod/generic/management/commands/__init__.py
  backend-project/small_eod/generic/management/commands/init_data.py
  backend-project/small_eod/generic/tests/test_management.py
  backend-project/small_eod/institutions/admin.py
  backend-project/small_eod/institutions/factories.py
  backend-project/small_eod/institutions/migrations/0001_initial_squashed_0005_auto_20200203_0453.py
  backend-project/small_eod/institutions/migrations/0009_auto_20200618_2320.py
  backend-project/small_eod/institutions/models.py
  backend-project/small_eod/letters/migrations/0001_initial_squashed_0010_remove_letter_address.py
  backend-project/small_eod/tags/factories.py
Labels: back-end

#450 Update default layout & set title
  frontend-project/config/defaultSettings.ts
Labels: front-end
