Repository watchdogpolska/small_eod, pull requests merged in 2020-10, with the labels that each got.

#564 adapt ResourceSerializerMixin for missing serializers
  backend-project/small_eod/administrative_units/tests/test_serializers.py
  backend-project/small_eod/channels/tests/test_serializers.py
  backend-project/small_eod/collections/tests/test_serializers.py
  backend-project/small_eod/events/tests/test_serializers.py
  backend-project/small_eod/files/tests/test_serializers.py
  backend-project/small_eod/institutions/tests/test_serializers.py
  backend-project/small_eod/notes/tests/test_serializers.py
  backend-project/small_eod/users/tests/test_serializers.py
Labels: back-end

#560 Move python tests as seperate CI step
  .github/workflows/python.yaml
  backend-project/contrib/github/script.sh
Labels: back-end, ci

#569 Naprawienie błędu wynikającego ze złego importu
  frontend-project/src/models/login.ts
Labels: front-end

#571 Delete ordering from letter
  backend-project/small_eod/letters/admin.py
  backend-project/small_eod/letters/factories.py
  backend-project/small_eod/letters/migrations/0014_remove_letter_ordering.py
  backend-project/small_eod/letters/models.py
  backend-project/small_eod/letters/serializers.py
  backend-project/small_eod/letters/tests/test_serializers.py
  backend-project/small_eod/letters/views.py
Labels: back-end

#570 Refaktoryzacja modeli frontendowych
  frontend-project/src/models/cases.ts
  frontend-project/src/models/channels.ts
  frontend-project/src/models/institutions.ts
  frontend-project/src/models/login.ts
  frontend-project/src/models/tags.ts
  frontend-project/src/models/user.ts
  frontend-project/src/models/users.ts
Labels: front-end

#574 model migrations for v1 data migration (#101)
  Makefile
  backend-project/small_eod/cases/migrations/0013_alter_comment_field.py
  backend-project/small_eod/cases/models.py
  backend-project/small_eod/files/migrations/0006_increase_field_lengths.py
  backend-project/small_eod/files/models.py
  backend-project/small_eod/letters/migrations/0015_alters_for_v1_data_migration.py
  backend-project/small_eod/letters/models.py
  backend-project/small_eod/tags/migrations/0006_add_uniq_on_tag_name.py
  backend-project/small_eod/tags/models.py
Labels: back-end, ci

#568 Przepisanie pliku README dla frontendu z użyciem Markdown bez elementów HTML
  README.md
  frontend-project/README.md
Labels: front-end

#551 Dodanie testów do github workflowu dla frontendu - resolves #333
  .github/workflows/javascript.yaml
Labels: ci

#584 Drop nginx and use frontend as proxy
  backend-project/config/urls.py
  backend-project/contrib/github/script.sh
  docker-compose.yml
  frontend-project/config/config.ts
  frontend-project/src/layouts/BasicLayout.tsx
  nginx.conf
Labels: back-end, ci, front-end

#583 Fix link in footer for non-SHA version
  frontend-project/src/layouts/BasicLayout.tsx
Labels: front-end

#589 Add support for public API server
  frontend-project/README.md
  frontend-project/config/config.ts
  frontend-project/package.json
Labels: front-end

#579 Move channels to top level
  frontend-project/config/config.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/pages/channels/list/index.tsx
  frontend-project/src/pages/channels/list/locales/en-US.ts
  frontend-project/src/pages/channels/list/locales/pl-PL.ts
Labels: front-end

#580 Channel & tag add
  frontend-project/config/config.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/pages/channels/new/index.tsx
  frontend-project/src/pages/channels/new/locales/en-US.ts
  frontend-project/src/pages/channels/new/locales/pl-PL.ts
  frontend-project/src/pages/tags/new/index.tsx
  frontend-project/src/pages/tags/new/locales/en-US.ts
  frontend-project/src/pages/tags/new/locales/pl-PL.ts
Labels: front-end

#585 Use FC instead of FunctionComponent
  frontend-project/src/components/Authorized/Authorized.tsx
  frontend-project/src/components/Authorized/PromiseRender.tsx
  frontend-project/src/components/Authorized/Secured.tsx
  frontend-project/src/components/Login/LoginSubmit.tsx
  frontend-project/src/components/Login/LoginTab.tsx
  frontend-project/src/layouts/BasicLayout.tsx
  frontend-project/src/layouts/BlankLayout.tsx
  frontend-project/src/layouts/UserLayout.tsx
  frontend-project/src/pages/Authorized.tsx
  frontend-project/src/pages/cases/new/index.tsx
  frontend-project/src/pages/institutions/new/index.tsx
Labels: front-end

#594 Fix type errors
  frontend-project/.prettierrc.js
  frontend-project/README.md
  frontend-project/config/config.ts
  frontend-project/package.json
  frontend-project/src/components/Table/CaseName.tsx
  frontend-project/src/models/global.ts
  frontend-project/src/pages/cases/list/index.tsx
  frontend-project/src/services/user.js
  frontend-project/src/typings.d.ts
  frontend-project/yarn.lock
Labels: front-end

#599 Drop support for gh-pages deploy
  frontend-project/package.json
  frontend-project/yarn.lock
Labels: front-end

#600 Drop nzh from front-end
  frontend-project/package.json
  frontend-project/yarn.lock
Labels: front-end

#598 Drop from package.json command to remove i18n
  frontend-project/package.json
Labels: front-end

#588 Remove redundant umi modules
  frontend-project/.eslintrc.js
  frontend-project/config/config.ts
  frontend-project/package.json
  frontend-project/src/typings.d.ts
  frontend-project/src/utils/authority.ts
  frontend-project/src/utils/utils.ts
  frontend-project/yarn.lock
Labels: front-end

#603 Add typecheck to CI/CD
  .github/workflows/javascript.yaml
  frontend-project/tsconfig.json
Labels: ci, front-end

#597 Add & use autogenerated interfaces
  frontend-project/scripts/generate_interface.js
  frontend-project/src/components/Table/CaseName.tsx
  frontend-project/src/components/Table/ChannelName.tsx
  frontend-project/src/components/Table/InstitutionName.tsx
  frontend-project/src/models/cases.ts
  frontend-project/src/models/channels.ts
  frontend-project/src/models/institutions.ts
  frontend-project/src/models/tags.ts
  frontend-project/src/models/users.ts
  frontend-project/src/pages/cases/list/index.tsx
  frontend-project/src/pages/cases/new/index.tsx
  frontend-project/src/pages/channels/list/index.tsx
  frontend-project/src/pages/institutions/list/index.tsx
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/tags/list/index.tsx
  frontend-project/src/services/cases.ts
  frontend-project/src/services/channels.ts
  frontend-project/src/services/definitions.d.ts
  frontend-project/src/services/documentType.ts
  frontend-project/src/services/institutions.ts
  frontend-project/src/services/letters.ts
  frontend-project/src/services/tags.ts
  frontend-project/swagger.json
Labels: front-end

#610 Add EventCollectionViewSetTestCase and update name of classes
  backend-project/small_eod/collections/tests/test_views.py
  backend-project/small_eod/collections/urls.py
  backend-project/small_eod/collections/views.py
Labels: back-end

#612 Create features list
  frontend-project/config/config.ts
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/pages/features/list/index.tsx
  frontend-project/src/pages/features/list/locales/en-US.ts
  frontend-project/src/pages/features/list/locales/pl-PL.ts
  frontend-project/src/services/features.ts
Labels: front-end

#660 Migrate to drf-yasg2
  backend-project/README.md
  backend-project/config/settings/base.py
  backend-project/config/swagger.py
  backend-project/config/urls.py
  backend-project/requirements/base.txt
  backend-project/small_eod/collections/views.py
  backend-project/small_eod/institutions/views.py
  backend-project/small_eod/letters/views.py
  backend-project/small_eod/users/views.py
Labels: back-end

#665 Fix tag list path
  frontend-project/config/config.ts
Labels: front-end

#613 Add vercel proxy
  frontend-project/.dockerignore
  frontend-project/.gitignore
  frontend-project/package.json
  frontend-project/vercel.json
  frontend-project/yarn.lock
Labels: front-end, to discuss

#674 Delete swagger.json from frontend-project
  frontend-project/swagger.json
Labels: front-end

#675 Disable Vercel comments
  frontend-project/vercel.json
Labels: front-end

#676 Add label for dependency update
  .github/boring-cyborg.yml
Labels: ci

#476 Przeniesienie typu dokumentu do reduxa w komponencie DocumentTypeName
  frontend-project/src/components/Table/DocumentTypeName.tsx
  frontend-project/src/models/documentTypes.ts
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/services/documentTypes.ts
Labels: back-end, front-end

#686 Add iCalendar export
  backend-project/Dockerfile
  backend-project/config/settings/base.py
  backend-project/requirements/base.txt
  backend-project/small_eod/events/locale/pl/LC_MESSAGES/django.po
  backend-project/small_eod/events/templates/events/calendar_description.txt
  backend-project/small_eod/events/tests/test_views.py
  backend-project/small_eod/events/views.py
Labels: back-end, back-end-deps, ci

#678 Add Vercel logo to footer, and separate the footer to the component
  frontend-project/src/assets/powered-by-vercel.svg
  frontend-project/src/components/GlobalFooter/DefaultFooter.less
  frontend-project/src/components/GlobalFooter/DefaultFooter.tsx
  frontend-project/src/layouts/BasicLayout.tsx
  frontend-project/src/layouts/UserLayout.tsx
Labels: front-end

#691 Change node version in JavaScript workflow
  .github/workflows/javascript.yaml
Labels: ci
