Repository watchdogpolska/small_eod, pull requests merged in 2020-05, with the labels that each got.

#340 Add autolabeler for PR
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#354 Zastąpienie npm yarnem w dockerfile
  frontend-project/Dockerfile
Labels: ci, front-end

#353 Przeniesienie komponentów do TypeScriptu
  frontend-project/src/components/GlobalHeader/AvatarDropdown.tsx
  frontend-project/src/components/GlobalHeader/NoticeIconView.tsx
  frontend-project/src/components/GlobalHeader/RightContent.tsx
  frontend-project/src/components/HeaderDropdown/index.jsx
  frontend-project/src/components/HeaderDropdown/index.tsx
  frontend-project/src/components/HeaderSearch/index.tsx
  frontend-project/src/components/PageLoading/index.tsx
  frontend-project/src/components/SelectLang/index.tsx
Labels: front-end

#312 drop-down list for notified and responsible users in case form
  frontend-project/mock/user.ts
  frontend-project/src/models/users.ts
  frontend-project/src/pages/cases/new/index.tsx
  frontend-project/src/pages/cases/new/locales/en-US.ts
  frontend-project/src/pages/cases/new/locales/pl-PL.ts
  frontend-project/src/services/tags.ts
  frontend-project/src/services/users.ts
  nginx.conf
Labels: front-end

#360 Przeniesienie serwisu logowania do ts
  frontend-project/src/services/login.js
  frontend-project/src/services/login.ts
Labels: front-end

#361 Usunięcie przykładowych Tagów, Słowników i Kanałów
  frontend-project/config/config.ts
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/pages/form/advanced-form/_mock.js
  frontend-project/src/pages/form/advanced-form/components/FooterToolbar/index.jsx
  frontend-project/src/pages/form/advanced-form/components/FooterToolbar/index.less
  frontend-project/src/pages/form/advanced-form/components/TableForm.jsx
  frontend-project/src/pages/form/advanced-form/index.jsx
  frontend-project/src/pages/form/advanced-form/model.js
  frontend-project/src/pages/form/advanced-form/service.js
  frontend-project/src/pages/form/advanced-form/style.less
  frontend-project/src/pages/form/step-form/_mock.js
  frontend-project/src/pages/form/step-form/components/Step1/index.jsx
  frontend-project/src/pages/form/step-form/components/Step1/index.less
  frontend-project/src/pages/form/step-form/components/Step2/index.jsx
  frontend-project/src/pages/form/step-form/components/Step2/index.less
  frontend-project/src/pages/form/step-form/components/Step3/index.jsx
  frontend-project/src/pages/form/step-form/components/Step3/index.less
  frontend-project/src/pages/form/step-form/index.jsx
  frontend-project/src/pages/form/step-form/locales/en-US.js
  frontend-project/src/pages/form/step-form/locales/pt-BR.js
  frontend-project/src/pages/form/step-form/locales/zh-CN.js
  frontend-project/src/pages/form/step-form/locales/zh-TW.js
  frontend-project/src/pages/form/step-form/model.js
  frontend-project/src/pages/form/step-form/service.js
  frontend-project/src/pages/form/step-form/style.less
Labels: front-end

#363 Usunięcie przykładowych Osób z menu
  frontend-project/config/config.ts
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/pages/profile/advanced/_mock.js
  frontend-project/src/pages/profile/advanced/data.d.ts
  frontend-project/src/pages/profile/advanced/index.jsx
  frontend-project/src/pages/profile/advanced/model.js
  frontend-project/src/pages/profile/advanced/service.js
  frontend-project/src/pages/profile/advanced/style.less
  frontend-project/src/pages/profile/basic/_mock.js
  frontend-project/src/pages/profile/basic/data.d.ts
  frontend-project/src/pages/profile/basic/index.jsx
  frontend-project/src/pages/profile/basic/model.js
  frontend-project/src/pages/profile/basic/service.js
  frontend-project/src/pages/profile/basic/style.less
Labels: front-end

#366 Pin Python version
  backend-project/Dockerfile
Labels: back-end, ci

#359 Lista listów
  .github/workflows/javascript.yaml
  frontend-project/config/config.ts
  frontend-project/package.json
  frontend-project/src/components/GlobalHeader/AvatarDropdown.tsx
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
  frontend-project/src/services/common.d.ts
  frontend-project/src/services/letters.ts
  frontend-project/yarn.lock
Labels: ci, front-end

#373 Delete account component
  frontend-project/config/config.ts
  frontend-project/config/plugin.config.ts
  frontend-project/src/pages/account/center/Center.less
  frontend-project/src/pages/account/center/_mock.js
  frontend-project/src/pages/account/center/components/Applications/index.jsx
  frontend-project/src/pages/account/center/components/Applications/index.less
  frontend-project/src/pages/account/center/components/ArticleListContent/index.jsx
  frontend-project/src/pages/account/center/components/ArticleListContent/index.less
  frontend-project/src/pages/account/center/components/Articles/index.jsx
  frontend-project/src/pages/account/center/components/Articles/index.less
  frontend-project/src/pages/account/center/components/AvatarList/index.jsx
  frontend-project/src/pages/account/center/components/AvatarList/index.less
  frontend-project/src/pages/account/center/components/Projects/index.jsx
  frontend-project/src/pages/account/center/components/Projects/index.less
  frontend-project/src/pages/account/center/data.d.ts
  frontend-project/src/pages/account/center/index.jsx
  frontend-project/src/pages/account/center/model.js
  frontend-project/src/pages/account/center/service.js
  frontend-project/src/pages/account/settings/_mock.js
  frontend-project/src/pages/account/settings/components/BaseView.less
  frontend-project/src/pages/account/settings/components/GeographicView.jsx
  frontend-project/src/pages/account/settings/components/GeographicView.less
  frontend-project/src/pages/account/settings/components/PhoneView.jsx
  frontend-project/src/pages/account/settings/components/PhoneView.less
  frontend-project/src/pages/account/settings/components/base.jsx
  frontend-project/src/pages/account/settings/components/binding.jsx
  frontend-project/src/pages/account/settings/components/notification.jsx
  frontend-project/src/pages/account/settings/components/security.jsx
  frontend-project/src/pages/account/settings/data.d.ts
  frontend-project/src/pages/account/settings/geographic/city.json
  frontend-project/src/pages/account/settings/geographic/province.json
  frontend-project/src/pages/account/settings/index.jsx
  frontend-project/src/pages/account/settings/locales/en-US.js
  frontend-project/src/pages/account/settings/locales/zh-CN.js
  frontend-project/src/pages/account/settings/locales/zh-TW.js
  frontend-project/src/pages/account/settings/model.js
  frontend-project/src/pages/account/settings/service.js
  frontend-project/src/pages/account/settings/style.less
Labels: front-end

#374 remove address and external_identifier models, expand institution model
  backend-project/small_eod/institutions/admin.py
  backend-project/small_eod/institutions/factories.py
  backend-project/small_eod/institutions/migrations/0008_auto_20200528_1330.py
  backend-project/small_eod/institutions/models.py
  backend-project/small_eod/institutions/serializers.py
  backend-project/small_eod/institutions/tests/test_factories.py
  backend-project/small_eod/institutions/tests/test_serializers.py
  backend-project/small_eod/institutions/tests/test_validators.py
Labels: back-end

#372 case and comment in Event
  backend-project/small_eod/events/factories.py
  backend-project/small_eod/events/migrations/0007_auto_20200528_1011.py
  backend-project/small_eod/events/models.py
  backend-project/small_eod/events/serializers.py
Labels: back-end

#371 feature in FeatureOption
  backend-project/small_eod/cases/serializers.py
  backend-project/small_eod/cases/tests/test_serializers.py
  backend-project/small_eod/features/factories.py
  backend-project/small_eod/features/migrations/0004_auto_20200528_0932.py
  backend-project/small_eod/features/models.py
  backend-project/small_eod/features/serializers.py
  backend-project/small_eod/features/tests/test_factories.py
  backend-project/small_eod/features/tests/test_serializers.py
  backend-project/small_eod/features/tests/test_views.py
  backend-project/small_eod/features/views.py
Labels: back-end

#367 Comment in cases
  backend-project/small_eod/cases/factories.py
  backend-project/small_eod/cases/migrations/0012_auto_20200527_1127.py
  backend-project/small_eod/cases/models.py
  backend-project/small_eod/cases/serializers.py
Labels: back-end

#370 comment and query in collections
  backend-project/small_eod/collections/factories.py
  backend-project/small_eod/collections/migrations/0007_auto_20200528_0022.py
  backend-project/small_eod/collections/models.py
  backend-project/small_eod/collections/serializers.py
  backend-project/small_eod/collections/tests/test_views.py
  backend-project/small_eod/collections/views.py
Labels: back-end

#378 Przeniesienie 'luźnych' stron do typescriptu
  frontend-project/src/pages/Admin.tsx
  frontend-project/src/pages/Authorized.tsx
  frontend-project/src/pages/Welcome.tsx
Labels: front-end

#375 Create CODEOWNERS
  .github/CODEOWNERS
Labels: ci

#376 Zmiana rozszerzenia stron wyjątków na tsx + dodanie wersji polskiej
  frontend-project/src/pages/exception/403/index.tsx
  frontend-project/src/pages/exception/403/locales/en-US.ts
  frontend-project/src/pages/exception/403/locales/pl-PL.ts
  frontend-project/src/pages/exception/403/locales/pt-BR.js
  frontend-project/src/pages/exception/403/locales/zh-CN.js
  frontend-project/src/pages/exception/403/locales/zh-TW.js
  frontend-project/src/pages/exception/404/index.tsx
  frontend-project/src/pages/exception/404/locales/en-US.ts
  frontend-project/src/pages/exception/404/locales/pl-PL.ts
  frontend-project/src/pages/exception/404/locales/pt-BR.js
  frontend-project/src/pages/exception/404/locales/zh-CN.js
  frontend-project/src/pages/exception/404/locales/zh-TW.js
  frontend-project/src/pages/exception/500/index.tsx
  frontend-project/src/pages/exception/500/locales/en-US.ts
  frontend-project/src/pages/exception/500/locales/pl-PL.ts
  frontend-project/src/pages/exception/500/locales/pt-BR.js
  frontend-project/src/pages/exception/500/locales/zh-CN.js
  frontend-project/src/pages/exception/500/locales/zh-TW.js
Labels: front-end

#379 Update dependency ts-jest to v26
  frontend-project/package.json
  frontend-project/yarn.lock
Labels: front-end
