Repository watchdogpolska/small_eod, pull requests merged in 2020-12, with the labels that each got.

#712 Tworzenie, edytowanie i usuwanie spraw #653 #654
  frontend-project/config/config.ts
  frontend-project/src/components/Table/CaseName.tsx
  frontend-project/src/components/Table/index.tsx
  frontend-project/src/locales/en-US.ts
  frontend-project/src/locales/en-US/globalHeader.ts
  frontend-project/src/locales/en-US/globals.ts
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/locales/pl-PL.ts
  frontend-project/src/locales/pl-PL/component.ts
  frontend-project/src/locales/pl-PL/globalHeader.ts
  frontend-project/src/locales/pl-PL/globals.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/locales/pl-PL/pwa.ts
  frontend-project/src/locales/pl-PL/settingDrawer.ts
  frontend-project/src/locales/pl-PL/settings.ts
  frontend-project/src/models/cases.ts
  frontend-project/src/models/channels.ts
  frontend-project/src/models/features.ts
  frontend-project/src/models/global.ts
  frontend-project/src/pages/cases/CasesDetailView.tsx
  frontend-project/src/pages/cases/CasesListView.tsx
  frontend-project/src/pages/cases/list/index.tsx
  frontend-project/src/pages/cases/list/locales/en-US.ts
  frontend-project/src/pages/cases/list/locales/pl-PL.ts
  frontend-project/src/pages/cases/locales/en-US.ts
  frontend-project/src/pages/cases/locales/pl-PL.ts
  frontend-project/src/pages/cases/new/index.tsx
  frontend-project/src/pages/cases/new/locales/en-US.ts
  frontend-project/src/pages/cases/new/locales/pl-PL.ts
  frontend-project/src/pages/features/list/index.tsx
  frontend-project/src/services/cases.ts
  frontend-project/src/services/features.ts
  frontend-project/src/services/service.ts
  frontend-project/src/utils/reduxModel.ts
  frontend-project/src/utils/structedLocale.ts
Labels: front-end

#658 create new tag
  frontend-project/src/models/global.ts
  frontend-project/src/models/tag.ts
  frontend-project/src/models/tags.ts
  frontend-project/src/pages/tags/new/index.tsx
  frontend-project/src/pages/tags/new/locales/en-US.ts
  frontend-project/src/pages/tags/new/locales/pl-PL.ts
  frontend-project/src/services/tags.ts
Labels: front-end

#716 Tworzenie, edytowanie i usuwanie tagów #632 #631 #629
  frontend-project/config/config.ts
  frontend-project/src/locales/en-US.ts
  frontend-project/src/locales/pl-PL.ts
  frontend-project/src/models/global.ts
  frontend-project/src/models/tag.ts
  frontend-project/src/models/tags.ts
  frontend-project/src/pages/cases/CasesDetailView.tsx
  frontend-project/src/pages/tags/TagsDetailView.tsx
  frontend-project/src/pages/tags/TagsListView.tsx
  frontend-project/src/pages/tags/list/index.tsx
  frontend-project/src/pages/tags/list/locales/en-US.ts
  frontend-project/src/pages/tags/list/locales/pl-PL.ts
  frontend-project/src/pages/tags/locales/en-US.ts
  frontend-project/src/pages/tags/locales/pl-PL.ts
  frontend-project/src/pages/tags/new/index.tsx
  frontend-project/src/pages/tags/new/locales/en-US.ts
  frontend-project/src/pages/tags/new/locales/pl-PL.ts
  frontend-project/src/services/tags.ts
Labels: front-end

#722 Fix deploy to H1 - bump @actions/ pkg - close #721
  .github/actions/h1-cli/.gitignore
  .github/actions/h1-cli/dist/index.js
  .github/actions/h1-cli/package-lock.json
  .github/actions/h1-cli/package.json
  .github/actions/h1-cli/src/start.js
Labels: ci

#706 Second version of new documentation (sphinx with docker)
  .gitignore
  Makefile
  backend-project/Dockerfile
  backend-project/requirements/base.txt
  docker-compose.yml
  docs/Makefile
  docs/backend/acl.rst
  docs/backend/index.rst
  docs/backend/modules/administrative_units.rst
  docs/backend/modules/cases.rst
  docs/backend/modules/channels.rst
  docs/backend/modules/collections.rst
  docs/backend/modules/events.rst
  docs/backend/modules/features.rst
  docs/backend/modules/files.rst
  docs/backend/modules/index.rst
  docs/backend/modules/institutions.rst
  docs/backend/modules/letters.rst
  docs/backend/modules/notes.rst
  docs/backend/modules/tags.rst
  docs/backend/modules/users.rst
  docs/conf.py
  docs/frontend/index.rst
  docs/index.rst
  docs/make.bat
  docs/overview/architecture.rst
  docs/overview/contribution.rst
  docs/overview/goals.rst
  docs/overview/stakeholders.rst
  docs/overview/use_cases.rst
  docs/sdk/index.rst
Labels: back-end, back-end-deps, ci, docs

#749 #657 Usuwanie instancji listu z modalem potwierdzającym
  frontend-project/src/components/Modals/Confirmation/index.tsx
  frontend-project/src/locales/en-US.ts
  frontend-project/src/locales/en-US/globals.ts
  frontend-project/src/locales/pl-PL.ts
  frontend-project/src/locales/pl-PL/globals.ts
  frontend-project/src/models/letters.ts
  frontend-project/src/pages/cases/CasesDetailView.tsx
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/pages/letters/list/locales/en-US.ts
  frontend-project/src/pages/letters/list/locales/pl-PL.ts
  frontend-project/src/pages/tags/TagsDetailView.tsx
  frontend-project/src/pages/tags/TagsListView.tsx
  frontend-project/src/pages/tags/locales/en-US.ts
  frontend-project/src/pages/tags/locales/pl-PL.ts
  frontend-project/src/services/letters.ts
  frontend-project/src/utils/reduxModel.ts
Labels: front-end
