Repository watchdogpolska/small_eod, pull requests merged in 2020-09, with the labels that each got.

#542 Fix formatting issues
  backend-project/small_eod/administrative_units/urls.py
  backend-project/small_eod/cases/models.py
  backend-project/small_eod/channels/models.py
  backend-project/small_eod/collections/models.py
  backend-project/small_eod/collections/tests/test_views.py
  backend-project/small_eod/generic/factories.py
  backend-project/small_eod/generic/management/commands/init_data.py
  backend-project/small_eod/generic/tests/test_management.py
  backend-project/small_eod/institutions/serializers.py
  backend-project/small_eod/letters/models.py
  backend-project/small_eod/letters/tests/test_views.py
  backend-project/small_eod/letters/views.py
Labels: back-end

#505 Issue 496 - sorting
  .github/workflows/python.yaml
  backend-project/config/settings/base.py
  backend-project/requirements/base.txt
  backend-project/small_eod/administrative_units/tests/test_views.py
  backend-project/small_eod/administrative_units/views.py
  backend-project/small_eod/cases/tests/test_views.py
  backend-project/small_eod/cases/views.py
  backend-project/small_eod/channels/tests/test_views.py
  backend-project/small_eod/channels/views.py
  backend-project/small_eod/collections/tests/test_views.py
  backend-project/small_eod/collections/views.py
  backend-project/small_eod/events/tests/test_views.py
  backend-project/small_eod/events/views.py
  backend-project/small_eod/features/tests/test_views.py
  backend-project/small_eod/features/views.py
  backend-project/small_eod/files/tests/test_views.py
  backend-project/small_eod/generic/tests/test_views.py
  backend-project/small_eod/institutions/tests/test_views.py
  backend-project/small_eod/institutions/views.py
  backend-project/small_eod/letters/tests/test_views.py
  backend-project/small_eod/letters/views.py
  backend-project/small_eod/users/tests/test_viewsets.py
  backend-project/small_eod/users/views.py
  backend-project/small_eod/users/viewsets.py
Labels: back-end, ci, docs

#494 Add id to TagSerializer and DocumentTypeSerializer
  backend-project/small_eod/cases/tests/test_serializers.py
  backend-project/small_eod/features/tests/test_serializers.py
  backend-project/small_eod/generic/tests/test_serializers.py
  backend-project/small_eod/letters/serializers.py
  backend-project/small_eod/letters/tests/test_serializers.py
  backend-project/small_eod/tags/serializers.py
  backend-project/small_eod/tags/tests/test_serializers.py
Labels: back-end

#538 Add management for document_type
  backend-project/small_eod/letters/admin.py
Labels: back-end

#537 New letter admin
  backend-project/small_eod/cases/models.py
  backend-project/small_eod/files/models.py
  backend-project/small_eod/institutions/models.py
  backend-project/small_eod/letters/admin.py
  backend-project/small_eod/letters/models.py
Labels: back-end

#470 Przeniesienie sprawy do reduxa w komponencie CaseName
  frontend-project/src/components/Table/CaseName.tsx
  frontend-project/src/models/cases.ts
  frontend-project/src/pages/letters/list/index.tsx
  frontend-project/src/services/cases.ts
Labels: front-end

#550 Add institutions list
  frontend-project/config/config.ts
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/pages/institutions/list/index.tsx
  frontend-project/src/pages/institutions/list/locales/en-US.ts
  frontend-project/src/pages/institutions/list/locales/pl-PL.ts
  frontend-project/src/services/institutions.ts
Labels: front-end

#546 Add action download selected letters
  backend-project/requirements/base.txt
  backend-project/requirements/development.txt
  backend-project/small_eod/letters/admin.py
Labels: back-end

#553 Usunięcie niektórych użyć typu any
  frontend-project/src/components/Table/CaseName.tsx
  frontend-project/src/components/Table/ChannelName.tsx
  frontend-project/src/components/Table/InstitutionName.tsx
  frontend-project/src/models/setting.ts
  frontend-project/src/models/user.ts
  frontend-project/src/pages/cases/new/index.tsx
Labels: front-end

#552 Fix authority utils
  frontend-project/src/utils/Authorized.ts
  frontend-project/src/utils/authority.ts
Labels: front-end

#543 Add documentation of scope v2
  docs/scope-v2.md
Labels: docs
