Repository watchdogpolska/small_eod, pull requests merged in 2020-11, with the labels that each got.

#697 Zmiana wersji Node w Dockerze frontendu z 12.x na 14.x
  frontend-project/Dockerfile
Labels: ci, front-end

#694 Add authentication support to Calendar
  backend-project/config/settings/base.py
  backend-project/setup.cfg
  backend-project/small_eod/authkey/__init__.py
  backend-project/small_eod/authkey/admin.py
  backend-project/small_eod/authkey/apps.py
  backend-project/small_eod/authkey/authentication.py
  backend-project/small_eod/authkey/factories.py
  backend-project/small_eod/authkey/migrations/0001_initial.py
  backend-project/small_eod/authkey/migrations/__init__.py
  backend-project/small_eod/authkey/models.py
  backend-project/small_eod/authkey/parser.py
  backend-project/small_eod/authkey/permissions.py
  backend-project/small_eod/events/tests/test_views.py
  backend-project/small_eod/events/views.py
Labels: back-end

#701 Use crossenv to run frontend using public api
  frontend-project/package.json
Labels: front-end, front-end-deps
