Repository watchdogpolska/small_eod, pull requests merged in 2021-02, with the labels that each got.

#558 Add searchset and custom query language
  backend-project/small_eod/cases/filterset.py
  backend-project/small_eod/cases/searchset.py
  backend-project/small_eod/cases/tests/test_views.py
  backend-project/small_eod/cases/views.py
  backend-project/small_eod/search/__init__.py
  backend-project/small_eod/search/field.py
  backend-project/small_eod/search/filter.py
  backend-project/small_eod/search/grammar.py
  backend-project/small_eod/search/searchset.py
  backend-project/small_eod/search/tests/__init__.py
  backend-project/small_eod/search/tests/fixtures.py
  backend-project/small_eod/search/tests/test_filter.py
  backend-project/small_eod/search/tests/test_filterset.py
  backend-project/small_eod/search/tests/test_grammar.py
Labels: back-end, to discuss

#803 Drop pre-commit in GHA
  .github/workflows/pre-commit.yaml
Labels: ci

#806 Test backend in parallel
  .github/workflows/javascript.yaml
  .github/workflows/python.yaml
  Makefile
  backend-project/requirements/development.txt
Labels: back-end, back-end-deps, ci

#741 CRUD for DocumentTypes
  frontend-project/config/config.ts
  frontend-project/package.json
  frontend-project/src/components/Table/DocumentTypeName.tsx
  frontend-project/src/locales/en-US.ts
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/locales/pl-PL.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/models/documentTypes.ts
  frontend-project/src/pages/documentTypes/DocumentTypesDetailView.tsx
  frontend-project/src/pages/documentTypes/DocumentTypesListView.tsx
  frontend-project/src/pages/documentTypes/locales/en-US.ts
  frontend-project/src/pages/documentTypes/locales/pl-PL.ts
  frontend-project/src/services/documentType.ts
  frontend-project/src/services/documentTypes.ts
Labels: front-end, front-end-deps

#717 Tworzenie, edytowanie i usuwanie kanałów #641 #640 #639 #638
  frontend-project/config/config.ts
  frontend-project/src/locales/en-US.ts
  frontend-project/src/locales/pl-PL.ts
  frontend-project/src/models/channels.ts
  frontend-project/src/pages/channels/ChannelsDetailView.tsx
  frontend-project/src/pages/channels/ChannelsListView.tsx
  frontend-project/src/pages/channels/list/index.tsx
  frontend-project/src/pages/channels/list/locales/en-US.ts
  frontend-project/src/pages/channels/list/locales/pl-PL.ts
  frontend-project/src/pages/channels/locales/en-US.ts
  frontend-project/src/pages/channels/locales/pl-PL.ts
  frontend-project/src/pages/channels/new/index.tsx
  frontend-project/src/pages/channels/new/locales/en-US.ts
  frontend-project/src/pages/channels/new/locales/pl-PL.ts
  frontend-project/src/services/channels.ts
Labels: front-end

#723 CRUD dla Wydarzeń - close #646 #644 #645 #646
  frontend-project/config/config.ts
  frontend-project/src/locales/en-US.ts
  frontend-project/src/locales/en-US/menu.ts
  frontend-project/src/locales/pl-PL.ts
  frontend-project/src/locales/pl-PL/menu.ts
  frontend-project/src/models/events.ts
  frontend-project/src/pages/events/EventsDetailView.tsx
  frontend-project/src/pages/events/EventsListView.tsx
  frontend-project/src/pages/events/locales/en-US.ts
  frontend-project/src/pages/events/locales/pl-PL.ts
  frontend-project/src/pages/tags/TagsDetailView.tsx
  frontend-project/src/services/events.ts
Labels: front-end
