Repository watchdogpolska/small_eod, pull requests merged in 2021-07, with the labels that each got.

#991 Fix duplicate autocomplete suggestions.
  frontend-project/src/components/FetchLink.tsx
  frontend-project/src/components/FetchSelect.tsx
Labels: front-end

#963 614-AddFaviconsAndLogoFile
  frontend-project/.prettierignore
  frontend-project/public/favicons/android-chrome-192x192.png
  frontend-project/public/favicons/android-chrome-512x512.png
  frontend-project/public/favicons/apple-touch-icon.png
  frontend-project/public/favicons/browserconfig.xml
  frontend-project/public/favicons/favicon-16x16.png
  frontend-project/public/favicons/favicon-32x32.png
  frontend-project/public/favicons/favicon.ico
  frontend-project/public/favicons/mstile-144x144.png
  frontend-project/public/favicons/mstile-150x150.png
  frontend-project/public/favicons/mstile-310x150.png
  frontend-project/public/favicons/mstile-310x310.png
  frontend-project/public/favicons/mstile-70x70.png
  frontend-project/public/favicons/safari-pinned-tab.svg
  frontend-project/public/favicons/site.webmanifest
  frontend-project/src/assets/watchdog_eod_logo.svg
  frontend-project/src/layouts/LoginLayout.less
  frontend-project/src/layouts/LoginLayout.tsx
Labels: front-end

#999 FetchSelect import order fix
  frontend-project/public/favicons/site.webmanifest
  frontend-project/src/components/FetchSelect.tsx
  frontend-project/src/layouts/LoginLayout.tsx
Labels: front-end

#1000 Migrate deployment to Docker
  .github/actions/h1-cli/.gitignore
  .github/actions/h1-cli/action.yml
  .github/actions/h1-cli/dist/index.js
  .github/actions/h1-cli/package-lock.json
  .github/actions/h1-cli/package.json
  .github/actions/h1-cli/src/start.js
  .github/h1-known-hosts
  .github/workflows/balancer.yaml
  .github/workflows/javascript.yaml
  .github/workflows/python.yaml
  Makefile
  README.md
  balancer/nginx.conf
Labels: ci

#996 Fake oauth server
  Makefile
  README.md
  backend-project/config/settings/base.py
  backend-project/small_eod/users/providers.py
  backend-project/small_eod/users/views.py
  docker-compose.yml
  fake-oauth/Dockerfile
  fake-oauth/README.md
  fake-oauth/server.js
Labels: back-end, ci

#1012 Change translations
  frontend-project/src/pages/letters/locales/en-US.ts
  frontend-project/src/pages/letters/locales/pl-PL.ts
Labels: front-end

#1015 Extract Letter.reference_number to a model.
  backend-project/small_eod/collections/tests/test_views.py
  backend-project/small_eod/collections/views.py
  backend-project/small_eod/events/models.py
  backend-project/small_eod/letters/admin.py
  backend-project/small_eod/letters/factories.py
  backend-project/small_eod/letters/filterset.py
  backend-project/small_eod/letters/migrations/0016_extract_reference_number_model.py
  backend-project/small_eod/letters/models.py
  backend-project/small_eod/letters/searchset.py
  backend-project/small_eod/letters/serializers.py
  backend-project/small_eod/letters/views.py
  backend-project/small_eod/migration_v1/migrator.py
  backend-project/small_eod/notes/models.py
Labels: back-end

#1013 Make Case in letters required, change column order and remove time fr…
  frontend-project/src/pages/letters/LettersDetailView.tsx
  frontend-project/src/pages/letters/LettersListView.tsx
  frontend-project/src/pages/letters/locales/en-US.ts
  frontend-project/src/pages/letters/locales/pl-PL.ts
Labels: back-end, front-end

#1014 Tweaks container for production
  Makefile
  backend-project/Dockerfile
  backend-project/config/settings/production.py
  balancer/Dockerfile
  balancer/nginx.conf
  frontend-project/Dockerfile
  frontend-project/nginx.conf
Labels: back-end, ci, front-end

#1019 Load initial autocomplete suggestions + ReferenceNumber autocomplete backend changes
  backend-project/small_eod/autocomplete/serializers.py
  backend-project/small_eod/autocomplete/tests/test_serializers.py
  backend-project/small_eod/autocomplete/tests/test_views.py
  backend-project/small_eod/autocomplete/urls.py
  backend-project/small_eod/autocomplete/views.py
  frontend-project/src/components/FetchSelect.tsx
Labels: back-end, front-end
